/* variables*/
body {
  font-family: "Open Sans", sans-serif; }

.wrapper {
  width: 100%;
  margin: 0 auto; }
  .wrapper .uneGrandeEcole {
    position: relative; }
    .wrapper .uneGrandeEcole img {
      position: relative;
      width: 100%; }
    .wrapper .uneGrandeEcole .uneGrandeEcoleTxt {
      position: absolute;
      top: 8.33%;
      left: 2.86%;
      color: white;
      width: 29.06%;
      font-size: 26px; }
      .wrapper .uneGrandeEcole .uneGrandeEcoleTxt:before {
        content: "";
        position: absolute;
        top: -16px;
        display: inline-block;
        height: 1px;
        width: 16.05%;
        border-top: 3px solid white; }
      .wrapper .uneGrandeEcole .uneGrandeEcoleTxt:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -18px;
        display: inline-block;
        height: 1px;
        width: 16.05%;
        border-top: 3px solid white; }
    .wrapper .uneGrandeEcole .buttonWrapper {
      position: absolute;
      bottom: 12.91%;
      right: 7.06%; }
      .wrapper .uneGrandeEcole .buttonWrapper .button {
        background-color: #009de0;
        padding: 0px 32px;
        display: inline-block;
        margin-right: 40px; }
        .wrapper .uneGrandeEcole .buttonWrapper .button span {
          position: relative;
          top: -10px;
          text-transform: uppercase;
          color: white; }
        .wrapper .uneGrandeEcole .buttonWrapper .button:before {
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          border-bottom: 36px solid #009de0;
          border-left: 20px solid transparent;
          position: relative;
          top: 1px;
          left: -52px; }
        .wrapper .uneGrandeEcole .buttonWrapper .button:after {
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          border-bottom: 36px solid transparent;
          border-left: 20px solid #009de0;
          position: relative;
          top: 0px;
          left: 52px; }
        .wrapper .uneGrandeEcole .buttonWrapper .button:nth-child(2) {
          background-color: white; }
          .wrapper .uneGrandeEcole .buttonWrapper .button:nth-child(2) span {
            color: black; }
          .wrapper .uneGrandeEcole .buttonWrapper .button:nth-child(2):before {
            border-bottom: 36px solid white; }
          .wrapper .uneGrandeEcole .buttonWrapper .button:nth-child(2):after {
            border-left: 20px solid white; }
  .wrapper .nosInformations {
    padding: 5.25rem 7.33%; }
    .wrapper .nosInformations h2 {
      text-transform: uppercase;
      font-size: 30.5px;
      margin-bottom: 50px; }
      .wrapper .nosInformations h2 span:nth-child(1) {
        color: #9a9a9a; }
      .wrapper .nosInformations h2 span:nth-child(2) {
        color: #47c1f1; }
    .wrapper .nosInformations .blocInformationsWrapper {
      width: 16.25rem;
      display: flex; }
      .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper {
        z-index: 1; }
        .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper .formationsBlocs {
          background-color: #ebeef0;
          height: 9.375rem;
          border-bottom: 1px solid white;
          position: relative; }
          .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper .formationsBlocs:nth-child(1) {
            background-color: #009de0; }
            .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper .formationsBlocs:nth-child(1):before {
              content: "";
              display: inline-block;
              height: 0;
              width: 0;
              border-top: 30px solid transparent;
              border-bottom: 30px solid transparent;
              border-left: 22px solid white;
              position: absolute;
              top: 30%; }
            .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper .formationsBlocs:nth-child(1) p {
              color: white; }
          .wrapper .nosInformations .blocInformationsWrapper .formationsWrapper .formationsBlocs p {
            font-size: 1.3125rem;
            text-transform: uppercase;
            padding: 3.125rem 2.5rem; }
      .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper {
        display: flex; }
        .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper:after {
          content: "";
          display: inline-block;
          height: 452px;
          width: 82px;
          background-color: white;
          z-index: 3;
          margin-left: -60px; }
        .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper .blocPhoto {
          transform: skew(-10deg);
          width: 462px;
          margin-right: 20px;
          height: 452px;
          overflow: hidden; }
          .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper .blocPhoto:nth-child(1) {
            margin-left: -40px; }
          .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper .blocPhoto:after {
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            border-top: 195px solid transparent;
            border-right: 69px solid transparent; }
          .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper .blocPhoto:hover > img {
            width: 150%;
            cursor: pointer; }
          .wrapper .nosInformations .blocInformationsWrapper .blocPhotosWrapper .blocPhoto img {
            transform: skew(10deg);
            margin-left: -40px; }
    .wrapper .nosInformations .fleche {
      position: absolute;
      right: 12px;
      margin-top: -12px;
      z-index: 4; }

/*# sourceMappingURL=style.css.map */
